<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.lesson04.mapper.SellerMapper">
	<insert id="insertSeller" parameterType="map">
		INSERT INTO `seller`
		(
			`nickname`
			,`profileImageUrl`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{nickname}
			, #{profileImageUrl}
			, #{temperature}
			, NOW()
			, NOW()
		)
	</insert>
</mapper>