<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/booking/style.css}">
</head>
<body>
	<div id="wrap" class="container">
	    <header class="d-flex justify-content-center align-items-center">
	        <div class="display-4" th:text="'통나무 펜션'"></div>
	    </header>
	    <nav>
	        <ul class="nav nav-fill">
	            <li class="nav-item"><a href="#" class="nav-link text-white font-weight-bold" th:text="'팬션소개'"></a></li>
	            <li class="nav-item"><a href="#" class="nav-link text-white font-weight-bold" th:text="'객실보기'"></a></li>
	            <li class="nav-item"><a href="/booking/make-booking-view" class="nav-link text-white font-weight-bold" th:text="'예약하기'"></a></li>
	            <li class="nav-item"><a href="/booking/booking-list-view" class="nav-link text-white font-weight-bold" th:text="'예약목록'"></a></li>
	        </ul>
	    </nav>
	    <section class="contents py-4">
	        <h2 class="text-center font-weight-bold m-4" th:text="'예약 목록 보기'"></h2>
	        <table class="table text-center">
	        	<thead>
	        		<tr>
	        			<th>이름</th>
	        			<th>예약날짜</th>
	        			<th>숙박일수</th>
	        			<th>숙박인원</th>
	        			<th>전화번호</th>
	        			<th>예약상태</th>
	        			<th></th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr th:each="booking : ${bookingList}">
	        			<td th:text="${booking.name}">[[${bookingList}]]</td>
	        			<td th:text="${#temporals.format(booking.date, 'yyyy년 M월 d일')}">예약날짜</td>
	        			<td th:text="${booking.day}">숙박일수</td>
	        			<td th:text="${booking.headcount}">숙박인원</td>
	        			<td th:text="${booking.phoneNumber}">전화번호</td>
	        			<td>
	        				<span th:if="${booking.state == '대기중'}" class="text-info">대기중</span>
	        				<span th:if="${booking.state == '확정'}" class="text-success">확정</span>
	        				<span th:if="${booking.state == '취소'}" class="text-danger">취소</span>
	        			</td>
	        			<td><button type="button" class="del-btn btn btn-danger" th:data-booking-id="${booking.id}">삭제</button></td>
	        		</tr>
	        	</tbody>
	        </table>
	    </section>
	    <footer>
	        <small class="text-secondary">
	            제주특별자치도 제주시 애월읍<br>
	            사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표:김통목<br>
	            Copyright 2024 tongnamu. All right reserved.
	        </small>
	    </footer>
	</div>
	<script>
		$(document).ready(function() {
			// 삭제
			$(".del-btn").on('click', function() {
				let bookingId = $(this).data("booking-id");
				//alert(bookingId);
				
				$.ajax({
					// request
					type:"delete"
					, url:"/booking/delete-booking"
					, data:{"id":bookingId}
					
					// response - callback
					, success:function(data) {
						// {"code":200, "result":"성공"}
						if (data.result == "성공") {
							// 새로고침
							alert("삭제되었습니다.");
							location.reload(true);
						} else if (data.code == 500) {
							// {"code":500, "error_message":"에러 이유"}
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("삭제하는데 실패했습니다.");
					}
				});
			});
		});
	</script>
</body>
</html>