<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 목록</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>즐겨찾기 목록</h1>
		
		<table class="table text-center">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>URL</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bookmark : ${bookmarkList}">
					<td th:text="${bookmark.id}"></td>
					<td th:text="${bookmark.name}">-</td>
					<td>
						<a th:href="${bookmark.url}" target="_blank" th:text="${bookmark.url}"></a>
					</td>
					<td>
						<!-- 1) value에 id 넣기 -->
						<!-- <button type="button" class="del-btn btn btn-danger" th:value="${bookmark.id}">삭제</button> -->
						
						<!-- 2) data로 값 넣기 -->
						<button type="button" class="del-btn btn btn-danger" th:data-bookmark-id="${bookmark.id}">삭제</button>
					</td>
				</tr>			
			</tbody>
		</table>
	</div>
	
	<script>
		$(document).ready(function() {
			// 삭제
			$(".del-btn").on('click', function(e) {
				// 1) value를 이용
				//let id = $(this).val();
				//let id = $(this).attr("value");
				//let id = e.target.value;
				
				// 2) data를 이용(여러 항목 추가 가능)
				// 태그   th:data-bookmark-id
				// js    .data("bookmark-id")
				let id = $(this).data("bookmark-id");
				//alert(id);
				
				$.ajax({
					// request
					type:"delete"
					, url:"/lesson06/quiz01/delete-bookmark"
					, data:{"id":id}
					
					// response
					, success:function(data) {
						// result
						if (data.result == "성공") {
							// 새로고침 스크롤 유지, 데이터 다시 get
							location.reload(true);
						} else if (data.code == 500) {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("삭제하는데 실패했습니다.");
					}
				});
			});
		});
	</script>
</body>
</html>



